<% include header %>
  <div class="container">
    <h1>Welcome to my application</h1>
    <p>This is an Mongo, Express, Angular, and Node application</p>
    <button type="button" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-success">Sign in</button>
    <button type="button" class="btn btn-danger">Log out</button>
  </div>
<% include footer %>
