<% include header %>
  <form action="/login" method='post'>
    <label for="email">Email:</label>
    <input type="text" name="email" placeholder="Enter your email">
    <label for="password">User password:</label>
    <input type="password" name="password" placeholder="Enter your password">
    <button type="submit">Login</button>
  </form>
  <!--
    <div class="container">
      <h1>Welcome to my application</h1>
      <p>This is an Mongo, Express, Angular, and Node application</p>
      <button type="button" class="btn btn-primary">Login</button>
      <button type="button" class="btn btn-success">Sign in</button>
      <button type="button" class="btn btn-danger">Log out</button>
    </div>
  -->
<% include footer %>
