<% include header %>
  <form action="/register" method='post'>
    <label for="username">User name:</label>
    <input type="text" name="username" placeholder="Enter your user name">
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Enter your name">
    <label for="email">Email:</label>
    <input type="text" name="email" placeholder="Enter your email">
    <label for="password">User password:</label>
    <input type="password" name="password" placeholder="Enter your password">
    <button type="submit">Send</button>
  </form>
    <!--
    <div class="container">
      <h1>Welcome to my application</h1>
      <p>This is an Mongo, Express, Angular, and Node application</p>
      <button type="button" class="btn btn-primary">Login</button>
      <button type="button" class="btn btn-success">Sign in</button>
      <button type="button" class="btn btn-danger">Log out</button>
    </div>
  -->
  <% include footer %>
